Welcome to Blocklister
----------------------

Blocklister offers different ip blocklists rendered as Mikrotik Router OS
address lists. The lists are updated once every 3 days. Available Lists are
the following:

{% for list in lists %}
    * {{ list|attr("__name__") }} - {{ list|attr("source") }}
{%- endfor %}

Please note that each ip is limited to 20 requests per day.

To use these lists on your routers all you need to do is create one of the
following scripts and define a scheduler when the lists should get downloaded
and imported.
