Welcome to Blocklister
----------------------

Blocklister generates MikroTik Router OS compatible address-lists from commonly
known Internet Blocklists such as iblocklist (https://www.iblocklist.com) and
DShield (http://feeds.dshield.org/block.txt). The lists are updated once every
3 days. The following lists are available:

{% for list in lists | sort %}
    * {{ list }} - https://blocklister.gefoo.org/{{ list|lower }}
{%- endfor %}

The resulting script will first remove all ip addresses matching a specific
comment by default the name of the list and later add the entire list again.
The addresslist name and comment can be customized by query parameters which
are explained in the following paragraph.

Please note that each ip is limited to 50 requests per day.

Query Parameters
-----------------

With these query parameters you can customized the name and comment which will
be used to create the address-list on your router.

listname           The name of the resulting addresslist
comment            Use this query parameter to adjust the comment which will be
                   used for this addresslist (Please make sure that this comment
                   is unique among your addresslists)
cidr               Return listed IP ranges as CIDR notation


Multilist
---------

Multilist is a new feature that enables you to get results from multiple
blocklists by using one single HTTP GET call. Simply pass all the names of the
blocklists you would like to have concatenated into one result into the query
parameter `blocklists`. Such as 
http://blocklister.gefoo.org/multilist?blocklists=badpeers,ads

Please note that on this resource query parameters such as `listname` and
`comment` are also possible.

Examples with curl
-----------------

curl https://blocklister.gefoo.org/ads?listname=Blocklist?comment=ads
curl http://blocklister.gefoo.org/multilist?blocklists=ads,badpeer&comment=MyList


Example with RouterOS
---------------------

To use this service automatically you can add the following script on your
router. Of course you will need to create a scheduler to execute this script
automatically.


/system script \
  add name="Blocklister_download_Ads" source="\
  /tool fetch url=\"https://blocklister.gefoo.org/ads\" dst-path=\"ads.rsc\";\
  /import file-name=\"ads.rsc\";"


Source
------

Source code of blocklister is available at
http://www.github.com/flazzarini/blocklister.  Please feel free to report any
issues using the gituhub issue tracker.


{{ "---"|center }}
{{ "Blocklister v%s"|format(version)|center }}
